@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #111;
    background-repeat: no-repeat;
}

.signupSection {

    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 500px;
    display: flex;
    color: white;
    border-radius: 8px;
    box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.5);
}

.info {
    width: 40%;
    background: rgba(20, 20, 20, 0.8);
    padding: 30px;
    border-right: 5px solid rgba(30, 30, 30, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info h2 {
    font-weight: 300;
    margin: 0;
}

.info p {
    font-size: 18px;
    margin: 10px 0 0;
}

.icon {
    font-size: 5em;
    color: rgba(10, 180, 180, 1);
}

.signupForm {
    width: 60%;
    padding: 30px;
    background: rgba(20, 40, 40, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signupForm h2 {
    font-weight: 300;
    margin-bottom: 20px;
}

.inputFields {
    margin: 10px 0;
    font-size: 16px;
    padding: 15px;
    width: 100%;
    border: 1px solid rgba(10, 180, 180, 1);
    border-radius: 4px;
    background: rgba(20, 20, 20, 0.2);
    color: white;
    outline: none;
}

.inputFields:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.2);
}

.noBullet {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

#join-btn {
    border: 1px solid rgba(10, 180, 180, 1);
    background: rgba(20, 20, 20, 0.6);
    font-size: 16px;
    color: white;
    padding: 10px 128px;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s;
}

#join-btn:hover {
    background: rgba(20, 20, 20, 0.8);
}

#message {
    margin-top: 20px;
    text-align: center;
    color: white;
}